#articles {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

a {
  font-size: 85%;
  font-weight: bold;
  font-family: arial, sans-serif;
}

a:link {
  color: #613838;
}

a:hover {
  color: #93d4cd;
}
